__pycache__/*
.pylintrc
wget-log
data/external/img_files/*
selecting_data/.ipynb_checkpoints/*
downloading_data/.ipynb_checkpoints/*
downloading_data/img_files
downloading_data/img_files/*
downloading_data/upload_grizY.ipynb
sed_fitting/lephare/.ipynb_checkpoints/*
sed_fitting/lephare/CWW_HDF.dat
sed_fitting/bagpipes/.ipynb_checkpoints/*
sed_fitting/bagpipes/fitting_spectra/*
contrastive_learning/.ipynb_checkpoints/*
downloading_data/img_files
downloading_data/img_files/*
downloading_data/upload_grizY.ipynb
sed_fitting/lephare/.ipynb_checkpoints/*
sed_fitting/lephare/CWW_HDF.dat
sed_fitting/bagpipes/.ipynb_checkpoints/*
sed_fitting/bagpipes/fitting_spectra/*
contrastive_learning/.ipynb_checkpoints/*